@charset "UTF-8"; 

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightgray;
}

header {
    background-color: gray;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

menu {
    display: block;
}

menu > ul {
    list-style-type: none;
}

menu a {
    border-top: 2px solid #484848;
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #5e5e5e;
    color: #fff;
    text-align: center;
}

menu a:hover {
    background-color: lightgray;
}

main {
    width: 90vw;
    background-color: #fff;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;

}

main h2 {
    padding-bottom: 20px;
}

article p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}